server:
  port: 9092
  
spring:
  application:
    name: keycloak-services  
    
  datasource:
    url: jdbc:mysql://localhost:3306/fleetdb
    username: root
    password: password
    dbcp2:
      validation-query: SELECT 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/auth/realms/asiczen-fleet
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/auth/realms/asiczen-fleet
            user-name-attribute: preferred_username

logging:
  level:
    root: ERROR
    org.springframework.web: ERROR
    org.springframework.security: DEBUG
    com.asiczen: TRACE   

eureka:
  client:
    enabled: false
    
keycloak:
  realm: asiczen-fleet
  auth-server-url: http://localhost:8080/auth
  ssl-required: external
  resource: springboot-microservice
  use-resource-role-mappings: true
  bearer-only: false
  credentials:
    secret: d69e0013-b806-4ee1-82e3-290796d71266  



#app.base.url: http://localhost:8080/auth/realms/asiczen-fleet/protocol/openid-connect/userinfo
#app.url.token: http://localhost:8080/auth/realms/asiczen-fleet/protocol/openid-connect/token
#app.url.user: http://localhost:8080/auth/admin/realms/asiczen-fleet/users
app.base.url: http://localhost:8080/auth/realms/asiczen-fleet/protocol/openid-connect
app.url.token: ${app.base.url}/token
app.url.userinfo: ${app.base.url}/userinfo
app.url.user: http://localhost:8080/auth/admin/realms/asiczen-fleet/users
app.url.logout: http://localhost:8080/auth/admin/realms/asiczen-fleet/users/{id}/logout
app.url.passreset: http://localhost:8080/auth/admin/realms/asiczen-fleet/users/{id}/reset-password     